{% extends "base.html" %} {% load crispy_forms_tags %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<body id="signup-body">
  

<div class="container mt-5 p-3 " >
  <!-- <div class="row justify-content-center">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2 class="authentication-title">{% trans "Sign In" %}</h2>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div> -->





  
  <div class="row py-3"  >
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-decoration-underline">Login</h5>

          <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-sm btn-dark" type="submit">Login</button>
            <div>
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
 
</div>
<!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
  
 

</body>
{% endblock %}
