{% extends "base.html" %} {% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<div id="account-body"> 
    <div class="container p-3 ">
        <div class="row py-3 mt-5">
            <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
              <div class="card shadow">
                  <div class="card-body">
                    <h1 class=" h5 card-title  font-weight-bold">Login</h1>
                    <form method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button class="btn btn-sm btn-dark" type="submit">Login</button>
                      <div>
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}"><span class="account font-weight-bold">Forgot Password?</span></a>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}
