{% extends "base.html" %}  {% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}


    <div class="container">
        {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}
        <div class="row py-3">
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto">
                <div class="card shadow">
                    <div class="card-body p-4 ">
                        <h1 class="h3 card-title text-decoration-underline ">Password Reset</h1>
                        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    
                        <form method="POST" action="{% url 'account_reset_password' %}" >
                            {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-sm btn-dark font-weight-bold" type="submit">Reset My Password</button>
                            <div>
                                <a class=" button secondaryAction font-weight-bold  text-dark" href="{% url 'account_login' %}">Log in.</a>
                            </div>
                            <p>Please contact us if you have any trouble resetting your password.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
