{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <!-- <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %} -->

    <div class="container p-2">
        <div class="row py-3">
            <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title text-decoration-underline">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h5>
        
                        {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
                        <p>
                            The password reset link was invalid, possibly because it has already been used. Please request a
                            <a href="{{ passwd_reset_url }}">new password reset</a>.
                        </p>
                        {% else %}
        
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-sm btn-dark" type="submit">Change Password</button>
                            <div>
                                <a class="button secondaryAction" href="{% url 'account_login' %}">Already have an account? Log in.</a>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
