{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

 {% block content %}
 {% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
    <div class="row py-3">
        <div class="container">
            <div class="col12 col-sm-10 col-md-6 col-lg-6 mx-auto">
                <div class="card shadow">
                    <div class="card-body p4">
                        <h2>{% trans "Password Reset" %}</h2>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                        
                    </div>
                </div>
            </div>
    </div>
    </div>
   


{% endblock %}
