{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

    <h1 class="col-12 text-center  text-white"> {{ user }}'s Profile</h1>
    <p  class="text-white text-center">Are you sure you wnt to delete your profile</p>
    <h2 class="h5 text-white text-center">You wont be able to register with same username </h2>
    <div class="container bg-dark p-4 delete-profile">
        <div class="d-flex justify-content-around">
            <form action="" method="POST" class="bg-dark  ">
                {% csrf_token %}
                <!-- <p  class="text-white text-center">Are you sure you wnt to delete your profile</p> -->
                <button class="btn btn-danger" type="submit">Delete</button>
            
            </form>
            <button class="btn btn-primary" ><a  class="text-white" href="{% url 'see_profile' %}">Go Back</a></button>
        </div>
        
            
        
    </div>  
    

{% endblock content %}