/* general styles */
*{
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #090909; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
h1{
 
    /* font-size: 1rem; */
    text-transform: uppercase;


}
    
h2,h3{
   
    text-transform:uppercase;
    font-weight: 700;
}

#message{
    z-index: 1000;
    opacity: 85%;
}
/*end general styles */

/* sign up  style  */
.authentication-title{
    color: black;
}

#signup-body{
  background-image: url('https://res.cloudinary.com/dgzrzlcs4/image/upload/v1674088519/static/images/greg-rosenke-mBCsft4274I-unsplash-flow.f84064bd479a.jpg');
  
}
/* sign up and login style  */

/* nav-bar styles */

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(196, 222, 239);
    font-weight: 700;
    
    transform: scale(1.05)
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;

}

.navbar .dropdown-item:hover {
    /* color: rgb(4, 0, 255); */
    background-color:#131416 ;
} 

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 800;
    

}

.navbar-light .navbar-brand:hover{
    color: rgb(196, 222, 239);
    transform: scale(1.1)

}

#logo{
    color: #378cf4f8;
    
}
/* end nav-bar styles */

/* home page styles-------------------------------------------------------------------------------------------- */

/* Hero section-------------------- */
#hero{
  height: 80vh;
  /* height: 100vh; */
}
.hero-text{
  color: #378cf4f8;
  font-size: 3.5rem;
  text-transform: uppercase;
  

}

.headline {
  left: 90px;
  
} 
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  /* min-height: 350px; */
  /* background-image: url('/static/images/greg-rosenke-mBCsft4274I-unsplash-flow.webp'); */
  background-image: url('https://res.cloudinary.com/dgzrzlcs4/image/upload/v1674088519/static/images/greg-rosenke-mBCsft4274I-unsplash-flow.f84064bd479a.webp');
  background-position: center;
  background-size: cover;
  height: 100%;
 
}
@media screen and (max-width: 900px){
  .headline {
    left: 40px;
   
  } 
  .hero-text{
    font-size: 2.5rem;
  }
}


@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    background-image: url('https://res.cloudinary.com/dgzrzlcs4/image/upload/c_scale,h_420,w_630/v1674088519/static/images/greg-rosenke-mBCsft4274I-unsplash-flow.f84064bd479a.webp');
    clip-path: none;
    height: 50%;
    
  }

  h1{
    font-size: 2rem;
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.8s;
  -webkit-animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
 
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}




/* End Hero section-------------------- */

#my-index-planet{

   /* height: 400px;  */
}

/* midle section styles(ULTIMATE WAY TO KNOWLEDGE)------------------- */
.list-display li {
  margin-bottom:.4rem;
  font-size:1.1rem;
}
.list-checkmarks {
  padding-left:1.5rem;
}
.list-checkmarks li {
  list-style-type:none;
  padding-left:1rem;
}


.quote-card {
  background-color:#040831;
  border-radius: 15px;
 
}

/* end midle section styles--------------------------- */













/* end  home page styles ---------------------------------------------------------------------------------------*/


/* blog main page styles */

/*  */
/* blog main page styles */

#blog-body{
    margin-top: -10px;
}
.ion-minus{
    padding:0px 10px;
}

.blog {
	background-color:#f6f6f6;
	padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

.blog .blog-column a{
    color: #5db4c0;
    text-decoration: none;
}

.blog  span {
    font-size: 17px;
    font-weight: 700;
}

.blog  .blog-detail {
    margin-top: 10px;
}

.fa.fa-user, .fa.fa-clock-o {
    padding-right: 10px;
    color: #909090;
    font-size: 11px;
}



/* profile page syles */
.breadcrumb{
    background-color: rgb(14, 14, 88);
    
}

/* end profile page syles */

/* ---------set role---------- */
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  }

/* ------------end set role------------- */


/* ------------ team cards styles-------------- */
.social-link {
  width: 30px;
  height: 30px;
  /* border: 1px solid #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(221, 225, 231);
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.social-link:hover, .social-link:focus {
  background: rgb(12, 12, 14);
  text-decoration: none;
  color: rgb(20, 103, 228);
}



/* ------------ end team cards styles-------------- */



/* ----------------------background img------- play */
#mycard{
    background-color: rgb(14, 39, 60);
    
}




/* learning categories styles */

.main-content {
	padding-top: 40px;
	padding-bottom: 100px;
}

.flex-center {
	align-items: center;
}

#accordion .accordion-card {
	background: transparent;
	border: 0;
	margin-bottom: 30px;
}
#accordion .accordion-card__header {

	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#accordion .accordion-card__header.collapsed .drop-icon {
	transform: rotate(0deg);
}
#accordion .accordion-card__header h5 {
	display: flex;
	align-items: center;
}
#accordion .accordion-card__header h5 span {
	margin-left: 10px;
}
#accordion .accordion-card__header .drop-icon {
	margin-right: 15px;
	transform: rotate(180deg);
	transition: all 0.2s;
}
#accordion .accordion-card__body {
	padding: 25px;
	/* background: #fff; */
	border-radius: 5px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}




/* mentor category card section---------------------------------- */


.user-info {
	display: flex;
	align-items: center;
}
.user-info__img img {
	margin-right: 15px;
	height: 55px;
	width: 55px;
	border-radius: 45px;
	border: 3px solid rgb(10, 10, 10);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


