/* general styles */
*{
    margin: 0;
}

body{
    /* background-color: black; */
}
h1,h2,h3{
    color: white;
    text-transform:uppercase;
    font-weight: 700;
}
/*end general styles */

/* sign up and login style  */

/* sign up and login style  */

/* nav-bar styles */

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(196, 222, 239);
    font-weight: 700;
    
    transform: scale(1.05)
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;

}

.navbar .dropdown-item:hover {
    /* color: rgb(4, 0, 255); */
    background-color:#131416 ;
} 

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 800;
    

}

.navbar-light .navbar-brand:hover{
    color: rgb(196, 222, 239);
    transform: scale(1.25)

}

#logo{
    color: rgba(55, 140, 244, 0.971);
    
}
/* end nav-bar styles */

/* home page styles */
.jumbotron-fluid{
   background-image:url(/static/images/flow-home-big.jpg);
   min-height:600px;
   background-size: cover;
   background-attachment: fixed;
   /* background-position: center; */
}


/* end  home page styles */

/* profile page syles */
.breadcrumb{
    background-color: rgb(14, 14, 88);
    
}

/* end profile page syles */

