{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<h1 class="col-12 text-center text-white"> ADD BLOG POST</h1>
<div class="container">
    <div class="form-group bg-dark p-3">
        <form method="POST" enctype="multipart/form-data" autocomplete="off" class="formlabel">
            {% csrf_token %}
             {{ form.as_p }}
            <button class="btn btn-primary active pl-5 pr-5 p-2 font-weight-bold" type="submit">POST</button>
        </form>
    </div>
</div>  




{% endblock %}