{% extends 'base.html' %}


{% load static %}


{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<body >
  
  <section id="blog-body" class=" ">
      <h2 class="text-center text-white m-2 mb-4"> LATEST BLOGS</h2>
  
      <div class="container pt-3">
            <div class="row">
                {% for post in blog_post %}
            <div class="col-lg-6 mb-4">
                  <div class="card h-100">
                    {% if 'placeholder' in post.cover_image.url %}
                    <img src="{% static 'images/us-wah-x8HupeZdK7Y-unsplash-cup.jpg' %}" alt="" width="450" height="250" class="card-img-top">
                    {% else %}

                    {% load cloudinary %}
                    {% cloudinary  post.cover_image format="WebP" width=640 height=320 crop='fill' class='blog_image'  %}
                   
                    {% endif %}
                    <div class="card-body">
                      <p class="text-muted d-flex justify-content-between">{{ post.creator }} | {{ post.created_on }} <strong>{{ post.category }}</strong></p> 
                      <h5 class="card-title"> <a href="{% url 'blog_details' post.pk %}">{{ post.title }}</a> </h5>
                      {% if user.is_authenticated %}
                          {% if user == post.creator %}
                          
                          <a href="{% url 'edit_blog' post.pk %}"><i class="fas fa-edit fa-lg text-dark "></i></a>
                          <button type="button" data-toggle="modal" data-target="#my-{{ post.id }}" class="btn border-0 mb-1"><i class="far fa-trash-alt fa-lg text-danger"></i></i></button>
                          
                          {% block blog_modal %}{% include 'blog_modal.html' %}{% endblock blog_modal %}
                          {% endif %}
                      {% endif %}
                      <h6 class=" text-muted d-flex justify-content-end">{{post_comments_count}}<i class="far fa-comments"></i> Comments </h6>
                      <hr>
                      <p class="card-text">{{ post.body|slice:":200"}}</p>
                      <a href="{% url 'blog_details' post.pk %}" class="btn btn-outline-success btn-sm">Read More</a>
                      <!-- <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> -->
                      
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>

      </div>
  </section>
 
  {% block footer %}{% include 'footer.html' %}{% endblock footer %}
</body>

{% endblock %}


 
