{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

  <div class="container">
      <div class="row">
        <div class="col-md-6">
            {{ post.title }}
            <small> By: {{ post.created_on }}</small>
        </div>
      </div>
  </div>
  <div class="row">
  
  <div class="col-lg-6 mb-4">
    <div class="card h-100">
      <!-- <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top"> -->
      <img src="{% static 'images/blog_default.jpg' %}" alt="" class=" img-fluid card-img-top">
      <div class="card-body">
        <p class="text-muted">{{ post.creator }} | {{ post.created_on }}</p>
        <h5 class="card-title"> <a href="">{{ post.title }}</a> </h5>
        <hr>
        <p class="card-text">{{ post.body}}</p>
        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
    </div>
  </div>
  
</div>


{% endblock %}