{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<div class="container">

  <div class="row mt-4 justify-content-center">
        <div class="col-md-8 mb-4">
            <div class="card h-100 ">
            <img src="{% static 'images/us-wah-x8HupeZdK7Y-unsplash-cup.jpg' %}" alt="" class="  card-img-top">
            <a href="{% url 'blog_page' %}"><button class="mt-2 btn btn-secondary"> Back To Blog Page</button></a>
            <div class="card-body">
                    <p class="text-muted">{{ post.creator }} | {{ post.created_on }}</p>
                    <h5 class="card-title"> <a href="">{{ post.title }}</a> </h5>
                    {% if user.is_authenticated %}
                        {% if user == post.creator %}
                        <a href="{% url 'edit_blog' post.pk %}"><i class="fas fa-edit fa-lg text-dark "></i></a>
                        <button type="button" data-toggle="modal" data-target="#my-{{ post.id }}" class="btn border-0 mb-1"><i class="far fa-trash-alt fa-lg text-danger"></i></i></button>
                        {% block blog_modal %}{% include 'blog_modal.html' %}{% endblock blog_modal %}
                        {% endif %}   
                    {% endif %}
                    <hr>
                    <p class="card-text">{{ post.body}}</p>
                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
            </div>
            <!--comments-->
        <div class="section ">
                <div class="container ">
                    <h4 class="ml-5 text-muted">({{post_comments_count}}) <i class="far fa-comments"></i> Comments </h4>
                    <div class="row p-3">
                        <div class="col-lg-8 mx-auto ">
                            <!--display coment-->
                            <div class="media-list">
                                {% for comment in post_comments %}
                                <div>
                                    <!-- <img class="rounded-circle" width="50" height="50" src="{% static 'images/default.jpg' %}"> -->
                                    <div class="media-body border bg-outline-primary">
                                        <div class="small-1 ">
                                            <img class="rounded-circle" width="30" height="30" src="{% static 'images/default.jpg' %}">
                                            <b> {{comment.author}}</b>
                                            <time class="ml-4 opaciy-70 small-3"> {{comment.created}}</time>
                                            <br>
                                            <hr>
                                            <!-- <time class="ml-4 opaciy-70 small-3"> {{comment.created}}</time> -->
                                        </div>
                                        <p> {{comment.content}}</p>
                                        {% if request.user ==  comment.author %}
                                        <button  class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#my-{{comment.id}}"> 
                                            DELETE
                                        </button>
                                        {% block comment_modal %}{% include 'comment_modal.html' %}{% endblock comment_modal %}
                                        {% endif %}

                                    </div>
                                </div>
                                
                                {% endfor %}   
                            </div>
                            <!--display the form-->
                            <form  method="POST" id="comment_form" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form}}

                                </div>
                                <button class="btn btn-primary btn-block " type="submit" id="comment-btn"  >Comment</button>   
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
  </div>
</div>



{% endblock %}
