{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<div class="container">

  <div class="row mt-4 justify-content-center">
    <div class="col-md-8 mb-4">
        <div class="card h-100">
          <!-- <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top"> -->
          <img src="{% static 'images/blog_default.jpg' %}" alt="" class="  card-img-top">
          <a href="{% url 'blog_page' %}"><button class="mt-2 btn btn-secondary"> Back To Blog Page</button></a>
          <div class="card-body">
            <p class="text-muted">{{ post.creator }} | {{ post.created_on }}</p>
            <h5 class="card-title"> <a href="">{{ post.title }}</a> </h5>
            {% if user.is_authenticated %}
            <a href="{% url 'edit_blog' post.pk %}"><button class="btn btn-warning pl-5 pr-5">EDIT</button></a>
            <a href="{% url 'delete_blog' post.pk %}"><button class="btn btn-danger pl-5 pr-5">DELETE</button></a>
            {% endif %}
            <hr>
            <p class="card-text">{{ post.body}}</p>
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
        </div>
        <!-- <a href="{% url 'blog_page' %}"><button class="btn btn-secondary"> Back To Blog Page</button></a> -->
    </div>
  </div>
  
</div>


{% endblock %}