{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<h1 class="col-12 text-center"> DELETE BLOG POST</h1>
<div class="container pt-3">
    <h4>Delete: </h4>
    <strong>{{ blog_post.title }}</strong>
    <div class="form-group mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             <strong>
                 Your Blog Post will be Deleted
             </strong>
            <button class="btn btn-outline-danger pl-5 pr-5 p-2 font-weight-bold" type="submit">DELETE POST</button>
        </form>
    </div>
</div>  

{% endblock %}