{% block blog_modal %}
<!-- Modal -->
<div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase " id="blogModalLabel">Are You sure</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body text-center text-muted">
          Do you really want to Delete this Blog-Post?
          You can't revert this action
        </div>
        <div class="modal-footer justify-content-center">
        
          <a class="btn btn-danger " href="{% url 'delete_blog' post.id %}" >DELETE</a>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Go back</button>
        </div>
      </div>
    </div>
</div>

  <!-- end modal -->
{% endblock blog_modal %}