{% block comment_modal %}
  <div class="modal fade" id="my-{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="comment-text" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header flex-column align-items-center">
          <h3><span><span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></span></span></h3>
          <h5 class="modal-title text-uppercase " id="commentModalLabel">Are You sure</h5>
        </div>
        <div class="modal-body text-center text-muted">
          Do you really want to Delete this comment?
        </div>
        <div class="modal-footer justify-content-center">
            <form action="{% url 'delete_comment' comment.id  %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
            </form>
            <button type="button" class="btn btn-primary active" data-dismiss="modal">Go back</button>
        </div>
      </div>
    </div>
</div>
{% endblock comment_modal %}
