

{% block footer %}

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #1e1f20">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Home</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Blog</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <!-- <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Help</a>
            </h6>
          </div> -->
          <!-- Grid column -->

          <!-- Grid column -->
          <!-- <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white"></a>
            </h6>
          </div> -->
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti
              dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="mb-3 col-sm-6 mx-auto d-flex justify-content-between"  >
        <a href="" class=" h4 text-white me-4 ">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class= "h4 text-white me-4">
          <i class="fab fa-twitter "></i>
        </a>
        <!-- <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a> -->
        <a href="" class="h4 text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="h4 text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="h4 text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(1, 9, 45, 0.937)"
         >
       2022 Developed by :
      <a class="text-white" href="https://mdbootstrap.com/"
         > Roman Rakic</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  {% endblock footer %}

