{% extends 'base.html' %}
{% load static %}
    {% block content %} 
    {% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
    <!--  hero section -->
<body>
  <div class="container-fluid p-0">
    <section class="container-fluid p-0 ">
      <div class="d-sm-flex align-items-center justify-content-between w-100"  id="hero">
        <div class="col-md-4 mx-auto mb-4 mb-sm-0 headline">
          <h1 class=" my-4 font-weight-bold mr-2 hero-text">your knowledge <span class="hero-text" >is the key</span></h1>
          <a href="#" class="btn btn-success px-5 py-3 text-white text-uppercase mt-3 mt-sm-0">Get Started</a>
        </div>
        <!-- in mobile remove the clippath -->
        <div class="col-md-8 clipped fadeIn">
    
        </div>
      </div>
    </section >
        <!-- end hero -->
    
    <section>
        <h2 class="text-center text-white">ULTIMATE WAY TO KNOWLEDGE</h2>
    </section>
        <!-- bottom hero -->

    <!-- end bottom hero -->


      <div class="container-fluid p-0" id="planet">

          <img
          sizes="(max-width: 640px) 620px, 100vw"
          srcset="https://res.cloudinary.com/dgzrzlcs4/image/upload/f_auto,q_80,w_256/v1675084303/static/images/uln1s8gbk4zfffobpjkr.webp 256w, 
                  https://res.cloudinary.com/dgzrzlcs4/image/upload/f_auto,q_80,w_512/v1675084303/static/images/uln1s8gbk4zfffobpjkr.webp 512w, 
                  https://res.cloudinary.com/dgzrzlcs4/image/upload/f_auto,q_80,w_728/v1675084303/static/images/uln1s8gbk4zfffobpjkr.webp 728w, 
                  https://res.cloudinary.com/dgzrzlcs4/image/upload/f_auto,q_80,w_1024/v1675084303/static/images/uln1s8gbk4zfffobpjkr.webp 1024w, 
                  https://res.cloudinary.com/dgzrzlcs4/image/upload/f_auto,q_80,w_1350/v1675084303/static/images/uln1s8gbk4zfffobpjkr.webp 1350w," 
            
          src="https://res.cloudinary.com/dgzrzlcs4/image/upload/f_auto,q_80,w_512/v1675084303/static/images/uln1s8gbk4zfffobpjkr.webp 512w"
          alt />
  
      </div>
      <section class="bg-gray-40">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-xl-8">
              <div class="card quote-card text-white" id="quote" >
                <div class="card-body p-5">
                  <i class="fas fa-quote-left fa-2x mb-4"></i>
                  <h5 class="lead">Genius is one percent inspiration and ninety-nine percent perspiration.</h5>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <p class="mb-0">Thomas Edison</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
          <!-- new cards -->
    <div class="container">
      <div class="row text-center p-3">
  
          <!-- Team item -->
          <div class="col-xl-3 col-sm-6 mb-5 ">
              <div class="bg-dark rounded shadow-sm py-5 px-4 "><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0 text-white">Manuella Nevoresky</h5><span class="small text-uppercase text-muted text-white">CEO - Founder</span>
                
                  <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <!-- End -->
  
          <!-- Team item -->
          <div class="col-xl-3 col-sm-6 mb-5 ">
              <div class="bg-dark rounded shadow-sm py-5 px-4 "><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0 text-white">Manuella Nevoresky</h5><span class="small text-uppercase text-muted text-white">CEO - Founder</span>
                
                  <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <!-- End -->
  
          <!-- Team item -->
          <div class="col-xl-3 col-sm-6 mb-5 ">
              <div class="bg-dark rounded shadow-sm py-5 px-4 "><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0 text-white">Manuella Nevoresky</h5><span class="small text-uppercase text-muted text-white">CEO - Founder</span>
                
                  <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <!-- End -->
  
          <!-- Team item -->
          <div class="col-xl-3 col-sm-6 mb-5 ">
              <div class="bg-dark rounded shadow-sm py-5 px-4 "><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0 text-white">Manuella Nevoresky</h5><span class="small text-uppercase text-muted text-white">CEO - Founder</span>
                
                  <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <!-- End -->
      </div>
  </div>      
      <!-- end our team -->
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}
  </div>
</body>    
{% endblock content %}