{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}


<!-- <body> -->
  <!--  hero section -->
  <section class="container-fluid">
    <div class="row">
      <div class="d-sm-flex align-items-center justify-content-between w-100" id="hero">
        <div class="col-md-4 col-sm mb-4 mb-sm-0 pl-5">
          <h1 class=" my-4 font-weight-bold  hero-text ">your knowledge <span class="hero-text">is the key</span>
          </h1>
          <a href="{% url 'account_login' %}"
            class="btn btn-success  px-5 py-3  font-weight-bold text-uppercase text-black-50 mt-3 mt-sm-0 ">Get
            Started</a>
        </div>
        <div class="col-md-8 clipped fadeIn">
        </div>
      </div>
    </div>
  </section>
  <!-- end hero -->

  <!-- bottom hero -->
  <div class="container-fluid  mt-0 bg-dark  " id="my-index-planet">
    <h2 class="text-center text-white bg-dark mb-0">ULTIMATE WAY TO KNOWLEDGE</h2>
    <div class="row">
      <div class="col-md-6 ">
        <h3 class=" h4 pt-5 pb-3 text-center text-success">How to use the App</h3>
        <ul class="list-display list-checkmarks text-white">
          <li><i class="fas fa-check-square pr-2 text-success"></i>Register for an Account</li>
          <li><i class="fas fa-check-square pr-2 text-success"></i>Choose to be a "MENTOR" or "STUDENT"
          </li>
          <li><i class="fas fa-check-square pr-2 text-success"></i>Set up your profile </li>
          <li><i class="fas fa-check-square pr-2 text-success"></i>Share your Knowledge by posting a blog within
            Learning category</li>
          <li><i class="fas fa-check-square pr-2 text-success"></i>Learn ,explore and find a Mentor on Each Category
            Page
          </li>
        </ul>
      </div>
      <div class="col-md-6 ">
        <h2 class=" h4 pt-5 pb-3 text-center text-success">Why Knowledge Flow</h2>
        <ul class="list-display list-checkmarks text-white pr-3">
          <li><i class="fas fa-check-square pr-2 text-success"></i>Flexibility: Knowledge flow offers the
            flexibility to learn at your own pace and on your own schedule, allowing you to fit education into your
            busy lifestyle</li>
          <li><i class="fas fa-check-square pr-2 text-success"></i>No Cost:Learn for free without need for physical
            classrooms, textbooks, or other traditional learning materials.
          </li>
          <li><i class="fas fa-check-square pr-2 text-success"></i>Real Experience:
            Connect with our Mentors and benefit with 1 on 1 Learning</li>

        </ul>
      </div>
    </div>
  </div>
  <!-- end bottom hero -->

  <!-- new cards -->
  <div class="container">
    <h3 class="text-center text-white mt-2">MEET THE TEAM</h3>

    <div class="row text-center p-3">

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-1 ">
        <div class="bg-dark rounded shadow-sm py-5 px-4 "><img
            src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-white">Manuella Nevoresky</h5>

          <span class="small text-uppercase text-white ">CEO - Founder</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-1 ">
        <div class="bg-dark rounded shadow-sm py-5 px-4 "><img
            src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-white">Manuella Nevoresky</h5>
          <span class="small text-uppercase  text-white">CEO - Founder</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-1 ">
        <div class="bg-dark rounded shadow-sm py-5 px-4 "><img
            src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-white">Manuella Nevoresky</h5>
          <span class="small text-uppercase  text-white">CEO - Founder</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-1 ">
        <div class="bg-dark rounded shadow-sm py-5 px-4 "><img
            src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-1 text-white">Manuella Nevoresky</h5>
          <hr class="mt-1">
          <span class="small text-uppercase  text-white">CEO - Founder</span>


          <ul class="social mb-0 list-inline mt-2">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
  <!-- end our team -->

  <!-- about us -->
  <!-- <article>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has
      survived not only five centuries, but also the leap into electronic typesetting, remaining. Lorem Ipsum is simply
      dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when
      an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining .
    </p>
  </article> -->
  <!-- <section class="bg-gray-40"> -->
    <div class="container-fluid h-100" style="background-color:#040831;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-xl-4">

          <div class="card quote-card text-white" id="quote">
            <div class="card-body p-5">
              <i class="fas fa-quote-left fa-2x mb-4"></i>

              <!-- <h5 class="lead">Genius is one percent inspiration and ninety-nine percent perspiration.</h5> -->
              <!-- <h5 class="lead">Knowledge is not just about what we know, but about how we think.</h5> -->

              <h5 class="lead">The pursuit of knowledge is a noble task, and the more we learn, the more the journey becomes its own reward.</h5>
              <hr>
              <div class="d-flex justify-content-between">

                <!-- <p class="mb-0">Thomas Edison</p> -->
                <!-- <p class="mb-0">Richard Feynman</p> -->

                <p class="mb-0">Stephen Hawking</p>
              </div>
            </div>
          </div>

          <!-- <div class="card quote-card text-white" id="quote">
            <div class="card-body p-5">

              <img src="https://res.cloudinary.com/dgzrzlcs4/image/upload/v1676071275/hieg59wk6idevhcantjc.webp" alt="" id="logo-bottom" class="img-fluid" width="590" height="300">
              

              
            </div>
          </div> -->

        </div>
        <article class="col-md-6 col-xl-6 p-5 d-flex flex-column align-items-center">
          <h5 class="text-white ml-5"> ABOUT US</h5>
          <p style="max-width: 350px;" class="text-white ml-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
          
          </p>
        </article>
      </div>
    </div>
  <!-- </section> -->

  <!-- end about us -->
  <!-- quote -->
  <!-- <section class="bg-gray-40">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-xl-8">
          <div class="card quote-card text-white" id="quote">
            <div class="card-body p-5">
              <i class="fas fa-quote-left fa-2x mb-4"></i>
              <h5 class="lead">Genius is one percent inspiration and ninety-nine percent perspiration.</h5>
              <hr>
              <div class="d-flex justify-content-between">
                <p class="mb-0">Thomas Edison</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- end qoute -->

  <!-- contact form -->

  <div class="container-fluid" id="about">
      <div class="row d-flex justify-content-center align-items-center ">
        <!-- old form -->
            <!-- <div class="col-md-6 col-xl-4">
              <div class="form-group bg-dark p-5 pl-4 pr-4 rounded" >
                <form  method="POST" enctype="multipart/form-data" >
                  <h3 class="text-center text-warning"> GET IN TOUCH</h3>
                  {% csrf_token %}

                  <div class="form-row">
                    <div class="form-group col-md mb-0 text-white">
                      {{ form.name|as_crispy_field }}
                    </div>
                  </div>
                  <div class="text-white">{{ form.email|as_crispy_field}}</div>
                  <div class="text-white">{{ form.phone|as_crispy_field}}</div>
                  <div class="form-row">
                    <div class="form-group col-md mb-0 text-white">
                      {{ form.company|as_crispy_field}}
                    </div>
                    <div class="form-group col-md mb-0 text-white">
                      {{ form.subject|as_crispy_field}}
                    </div>

                  </div>
                  <div class="text-white">{{ form.message|as_crispy_field }}</div>
                  <button type="submit" class="btn btn-warning ">SUBMIT</button>
                </form>
              </div>
            </div> -->
        <!-- end old form -->

        <!-- new form -->
        <div class="col-md-6 col-xl-4 bg-dark ">
          <form method="post" enctype="multipart/form-data" class="p-3">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.email|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.phone|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.company|as_crispy_field }}
              </div>
              <!-- {{ form.subject|as_crispy_field }} -->
            </div>
            <div class="form-row">
              {{ form.message|as_crispy_field }}
            </div>
            
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>

        <!-- end new form -->

          <div class="col-md-6 col-xl-8">
              <div class="card-body p-5">

                <img src="https://res.cloudinary.com/dgzrzlcs4/image/upload/v1676071275/hieg59wk6idevhcantjc.webp" alt="" id="logo-bottom" class="img-fluid" width="590" height="300">
                
              </div>
          </div>
      </div>
  </div>




  <!-- end contact form -->
  {% block footer %}{% include 'footer.html' %}{% endblock footer %}
<!-- </body> -->
{% endblock content %}