{% extends 'base.html' %}
   
    {% block content %} 
    {% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
    <!--  hero  -->
    <section class="container-fluid p-0 ">
        <!-- <h1 class="col-12 text-center">home</h1> -->
        <div class="jumbotron jumbotron-fluid" >
            <div class="container p-3">
                <h1>share the knowledge with us</h1>
            <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
            </div>
            
        </div>
    </section >   
    <!-- end hero -->

    <!-- section 1-------------------------------------------------------------------------------- -->
<!--     
    <section> -->

    <!-- </section> -->
    <!--end section 1------------------------------------------------------------------------------ -->


    <!-- section 2-------------------------------------------------------------------------------- -->
    <!-- <section>
    

    
    </section> -->
    <!--end  section 2-------------------------------------------------------------------------------- -->

    
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}
    {% endblock content %}