{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  
    <div id="account-body">
      <main class="container">

        <div class=""  tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header flex-column align-items-center">
                  <div class=" h4 modal-body text-center ">
                   Update this comment?
                  </div> 
                  <div class="modal-footer justify-content-center update">
                    <div class="modal-footer justify-content-center" >
                      <form  method="POST" enctype="multipart/form-data" class="modal-body" autocomplete="off" id="update-comment-form">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}">
                          <div class="mb-2 my-form-content" > {{ form}}</div>
                          <button class="btn btn-success active comment-done" type="submit" >update</button>
                      </form>
                      <!-- <button type="submit" class="btn btn-primary active go-back" data-dismiss="modal">Go back</button> -->
                      <a class="btn btn-primary active  font-weight-bold" href= >Go Back</a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        </main>
      
    </div>
{% endblock content %}