
{% block update_comment_modal %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="modal fade comment update updatemy-{{comment.id}}"  tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header flex-column align-items-center">
          <div class=" h4 modal-body text-center ">
           Update this comment?
          </div> 
          <div class="modal-footer justify-content-center update">
            <div class="modal-footer justify-content-center" >
              <form action="{% url 'update_comment' comment_id %}"  method="POST" enctype="multipart/form-data" class="modal-body" autocomplete="off" id="update-comment-form">
                  {% csrf_token %}
                  <div class="mb-2 my-form-content" > {{ form.content|attr:"id:comment_id" }}</div>
                  <button class="btn btn-success active comment-done" >update</button>
              </form>
              <button type="submit" class="btn btn-primary active go-back" data-dismiss="modal">Go back</button>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock update_comment_modal %}


