
{% block update_comment_modal %}
  <div class="modal fade comment" id="updatemy-{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header flex-column align-items-center">
         <div class=" h4 modal-body text-center ">
           Update this comment?
        </div> 
        <div class="modal-footer justify-content-center">
            <form action="{% url 'update_comment' comment.id  %}" method="POST" enctype="multipart/form-data" class="modal-body" autocomplete="off">
                {% csrf_token %}
                <div class="mb-2" id="com-text">{{ form.content }}</div>
                <button class="btn btn-success active" id="comment-done">update</button>
            </form>
            <button type="submit" class="btn btn-primary active go-back" data-dismiss="modal">Go back</button>
        </div>
      </div>
    </div>
</div>

{% endblock update_comment_modal %}

